body {
    background-color: black;
    color: white;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Work Sans', sans-serif;
}

#website-title {
    font-size: x-large;
}

.top-nav {
    /* max-width: 70%; */
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.top-nav a {
    float: left;
    color: #3282B8;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    text-decoration: none;
  }

.top-nav a.split {
    float: right;
    padding-left: 40px;
  }

.introduction {
    /* max-width: 70%; */
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-bottom: 50px;
}

.intro-image {
   flex: 40%;
   padding: 10px;
   margin-left: auto; 
   margin-right: auto;
}

.my-photo {
   width: 350px;
   height: 350px;
   border-radius: 200px;
}

.intro-text {
    flex: 60%;
    padding: 10px;
    margin-top: auto;
    margin-bottom: auto;
 }

 .intro-text h1,h2,p,h1 {
    padding-left: 20px;
 }

 #intro-heading, #intro-sub-heading {
    font-family: 'EB Garamond', serif;
    color: #3282B8;
    font-size: 48px;
    font-weight: bold;
    line-height: 30px;
 }

#intro-sub-heading {
    color: #BBE1FA;
}
 

#intro-para {
    font-size: larger;
    font-family: 'Work Sans', sans-serif;
    color: white;
}

.months-list {
    text-align: center;
}

.row {
    display: flex;
}
  
.column {
   flex: 33.33%;
   padding: 10px;
}

#months-list-title {
    padding-top: 30px;
    font-family: 'EB Garamond', serif;
    letter-spacing: 1px;
    font-size: 30px;
    color: #3282B8;
}

.month-title {
    text-align: center;
    text-decoration: none;
    color: #BBE1FA;
    font-size: 24px;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    padding-top: 20px;
}

.month-image {
    border: solid 5px transparent;
}

.column:hover .month-image, .column:hover .month-title {
    border-color: #0F4C75;
    color: #3282B8;
}

/* .month-image:hover {
    border-color: brown;
}

.month-title {
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
}

.month-title:hover {
    color: teal;
} */


/* AUGUST */

/* Dropdown Button */
.dropbtn {
    background-color: #0F4C75;
    color: #BBE1FA;
    font-family: 'Work Sans', sans-serif;
    padding: 16px;
    font-size: 14px;
    border: 1px #0F4C75;
    letter-spacing: 1px;
}

  /* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    font-family: 'Work Sans', sans-serif;
}
  
  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(30, 30, 30);
    min-width: 120px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
}
  
  /* Links inside the dropdown */
.dropdown-content a {
    background-color: rgb(25, 25, 25);
    color: #3282B8;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-variant: normal;
    min-width: 120px;
}
  
  /* Changes color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
    min-width: 120px;
    
}
  
  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.aug-row {
    display: flex;
}
  
.aug-column {
   flex: 33.33%;
   padding: 10px;
   justify-content: space-between;
}

.text-section {
    text-align: center;
}

#title-aug {
    font-size: 72px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(0, 122, 86);
    font-family: 'EB Garamond', serif;
}

.place-list li {
    list-style: none; display: inline;
}

.place-list li:after {
    content: " \00b7";
}

ul li:last-child:after {
    content: none;
}

.sept-row {
    display: flex;
}
  
.sept-column {
   flex: 33.33%;
   padding: 10px;
   justify-content: space-between;
}

#title-sept {
    font-size: 72px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(26, 133, 141);
    font-family: 'EB Garamond', serif;
}

.oct-row {
    display: flex;
}
  
.oct-column {
   flex: 33.33%;
   padding: 10px;
   justify-content: space-between;
}

#title-oct {
    font-size: 72px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(236, 163, 61);
    font-family: 'EB Garamond', serif;
}

/* Contact */
#recap {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 48px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #3282B8;
    font-family: 'EB Garamond', serif;
}

#id-recap {
    line-height: 200%;
}

.recap-list {
    font-family: 'Work Sans', sans-serif;
    list-style: none;
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    margin: 20px;
}

.recap-sub-list li{
    font-family: 'Work Sans', sans-serif;
    list-style: circle;
}

#recap-aug, #recap-sept, #recap-oct {
    color: #3282B8;
    font-family: 'EB Garamond', serif;
    font-size: 20px;
    padding: 10px;
}

#final-title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 36px;
    padding-top: 60px;
    padding-bottom: 20px;
    color: #3282B8;
    font-family: 'EB Garamond', serif;
}

#final-para {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    font-family: 'Work Sans', sans-serif;
}

#contact-table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#contact-table th,td {
    font-size: 16px;
    padding-top: 10px;
    padding-right: 20px;
    vertical-align: baseline;
}

#contact-table th {
    color: #3282B8;
}

#contact-table td {
    color: #BBE1FA;
}

#social-media {
    /* list-style-position: outside; */
    padding-left: 18px;
}

#id-instagram, #id-facebook {
    text-decoration: none;
    color: #BBE1FA;
    line-height: 25px;
}

#social-media {
    text-align: left;
}
